body {
	height: 2000px;
	font-family: 'Jura', sans-serif;
	letter-spacing: 2px;
	text-shadow: 5px 5px 10px #393025;
	color: ghostwhite;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	height: 50px;
	background-color: #836549;
	font-size: 36px;
	color: white; 
	align-items: center"
}
.right-sidebar {
	background-color: #91806D;
	width: 100px;
	height: 2000px;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.portfolio {
	color: white;
	position: fixed;
	bottom: 50%;
	right: 10px;
	z-index: 4;
	height: 300px;
	writing-mode: vertical-rl;
	text-align: center;
}
.githubLink {
	color: white;
	position: fixed;
	bottom: 45%;
	right: 10px;
	z-index: 4;
	height: 50px;
	writing-mode: vertical-rl;
	text-align: center;
}

.parallax1 {
	height: 30%;
	width: 90%;
	background-attachment: fixed;
	background-position: start;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax1 div {
	display: flex;
	justify-content: space-around;
}
.parallax2, .parallax3, .parallax4, .parallax5 {
	height: 40%;
	background-attachment: fixed;
	background-position: start;
	background-repeat: no-repeat;
	background-size: cover;
}
img {
	height: 500px;
}
.textColumn {
	display: flex;
	flex-direction: column;
	
}
h2, h3 {
	color: #393025;
	text-shadow: 3px 3px 10px #78644b;
}
p {
	margin: 0;
}

a {
	color: rgb(231, 242, 11);
}
